<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang | default " en-us" }}">

<head>
    {{ partial "head.html" . }}
    {{ partial "seo.html" . }}
</head>

<body>
    {{ $bs_switch := resources.Get "js/bootstrap-switch-button.min.js" }}
    {{ $dark_sw := resources.Get "js/dark-mode-switch.js" }}
    {{ $darkSet := slice $bs_switch $dark_sw | resources.Concat "/js/darkSet.js" | minify | fingerprint }}
    <script defer src="{{ $darkSet.Permalink | relURL }}" integrity="{{ $darkSet.Data.Integrity }}"></script>
    <header>
        {{ partial "header.html" . }}
    </header>
    <div id="content-wrapper">
        <div class="inner clearfix">
            <section id="main-content">
                <noscript>
                    <h2>Do pełnej funkcjonalności strony potrzebujesz włączonej obsługi skryptów. Tu znajdziesz
                        <a href="https://www.enable-javascript.com/pl/" target="_blank">
                            instrukcje, które pozwolą Ci włączyć skrypty w Twojej przeglądarce</a>.
                    </h2>
                    <br />
                </noscript>
                {{ $jquery := resources.Get "/js/jquery.js" }}
                {{ $valid := resources.Get "/js/jquery.validate.min.js" }}
                {{ $validpl := resources.Get "/js/jquery-validation-translations/messages_pl.min.js" }}
                {{ $sweets := resources.Get "/js/sweet-surprise.js" }}
                {{ $steps := resources.Get "/js/steps.js" }}
                {{ $checkbox := resources.Get "/js/checkbox.js" }}
                {{ $easymde := resources.Get "/js/easymde.min.js" }}
                {{ $ready := resources.Get "/js/ready_CC.js" }}
                {{ $browserOSDetect := resources.Get "/js/browserOSDetect.js" }}
                {{ $swal := resources.Get "/js/sweetalert2.min.js" }}
                {{ $uBO := resources.Get "js/add-uBO-FL.js" }}
                {{ $bootstrapBundle := resources.Get "js/bootstrap.bundle.min.js" }}
                {{ $privateMode := resources.Get "js/is-private-mode.js" }}
                {{ $js := slice $jquery $valid $sweets $steps $checkbox $easymde $ready $browserOSDetect $swal $uBO $bootstrapBundle $privateMode | resources.Concat "/js/issues_bundle_CC.js" | minify | fingerprint}}
                {{ if eq .Lang "pl" }}
                {{ $js = slice $js $validpl | resources.Concat "/js/issues_bundle_CC_pl.js" | minify | fingerprint}}
                {{ end }}
                <script defer src="{{ $js.Permalink | relURL }}" integrity="{{ $js.Data.Integrity }}"></script>
                {{ partial "CookieConsentIssues" }}
                {{ .Content }}
            </section>
        </div>
    </div>
    <footer>
        {{ partial "footer.html" . }}
        {{ $swal := resources.Get "js/sweetalert2.min.js" }}
        {{ $uBO := resources.Get "js/add-uBO-FL.js" }}
        {{ $bootstrapBundle := resources.Get "js/bootstrap.bundle.min.js" }}
        {{ $uBObundle := slice $swal $uBO $bootstrapBundle | resources.Concat "/js/bundleForuBO_without_jQ.js" | minify
        | fingerprint }}
        <script defer src="{{ $uBObundle.Permalink | relURL }}" integrity="{{ $uBObundle.Data.Integrity }}"></script>
    </footer>
</body>

</html>
