<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
	{{ partial "head.html" . }}
	{{ partial "seo.html" . }}
</head>
<body>
	{{ $bs_switch := resources.Get "js/bootstrap-switch-button.min.js" }}
    {{ $dark_sw := resources.Get "js/dark-mode-switch.js" }}
    {{ $darkSet := slice $bs_switch $dark_sw | resources.Concat "/js/darkSet.js" | minify | fingerprint }}
    <script defer src="{{ $darkSet.Permalink | relURL }}" integrity="{{ $darkSet.Data.Integrity }}"></script>
	<header>
		{{ partial "header.html" . }}
	</header>
	<div id="content-wrapper">
		<div class="inner clearfix">
			<section id="main-content">
				<noscript>
					<h2>
						<a href="https://www.enable-javascript.com/pl/" target="_blank">
						instrukcje, które pozwolą Ci włączyć skrypty w Twojej przeglądarce</a>.
					</h2>
					<br/>
				</noscript>
				{{ .Content }}
				{{ partial "CCSyntaxTable.html" . }}
			</section>
		</div>
	</div>
	<footer>
		{{ partial "footer.html" . }}
		{{ $jquery := resources.Get "js/jquery.slim.js" }}
		{{ $uBO := resources.Get "js/add-uBO-FL.js" }}
		{{ $bootstrapBundle := resources.Get "js/bootstrap.bundle.min.js" }}
		{{ $uBObundle := slice $jquery $uBO $bootstrapBundle | resources.Concat "/js/bundleForuBO.js" | minify | fingerprint }}
		<script defer src="{{ $uBObundle.Permalink | relURL }}" integrity="{{ $uBObundle.Data.Integrity }}"></script>
	</footer>
</body>
</html>
