html[data-bs-theme="dark"] {
    .kbc-button {
        box-shadow: 0 0 #56606a, 0 0px #56606a, 0 1px #56606a, 0 2px #56606a,
        0 3px #56606a, 0 4px #56606a, 0 5px #56606a, 2px 2.5px 4px #adb5bd,
        0 -1px 2.5px #adb5bd;
        background-color: #343a40;
        border-color: #4b545c;
        color: #f8f9fa;
    }
    
    .kbc-button::after {
        border-color: #626d78;
    }
    
    /* Custom CSS to make EasyMDE play nice with Bootstrap colors 
        Source: https://github.com/Ionaru/easy-markdown-editor/issues/131#issuecomment-1738202589
    */
    
    .EasyMDEContainer .CodeMirror {
        color: var(--bs-body-color);
        border-color: var(--bs-border-color);
        background-color: var(--bs-body-bg);
    }
    .EasyMDEContainer .cm-s-easymde .CodeMirror-cursor {
        border-color: var(--bs-body-color);
    }
    
    .CodeMirror-cursor {
        border-left:1px solid var(--bs-body-color);
        border-right:none;width:0;
    }
    
    .editor-toolbar {
        border-top: 1px solid var(--bs-border-color);
        border-left: 1px solid var(--bs-border-color);
        border-right: 1px solid var(--bs-border-color);
    }
    
    .editor-toolbar i.separator {
        border-left: 1px solid var(--bs-border-color);
        border-right: 1px solid var(--bs-border-color);
    }
    
    .EasyMDEContainer .editor-toolbar > .active, .editor-toolbar > button:hover, .editor-preview pre, .cm-s-easymde .cm-comment {
        background-color: var(--bs-body-bg);
    }
    
    .EasyMDEContainer .CodeMirror-fullscreen {
        background: var(--bs-body-bg);
    }
    .editor-toolbar.fullscreen {
        background: var(--bs-body-bg);
    }
    
    .editor-preview {
        background: var(--bs-body-bg);
    }
    
    .editor-preview-side {
        border-color: var(--bs-border-color);
    }
    
    .CodeMirror-selected {
        background: var(--bs-secondary-bg);
    }
    
    .CodeMirror-focused .CodeMirror-selected {
        background: var(--bs-secondary-bg);
    }
    
    .CodeMirror-line::selection,.CodeMirror-line>span::selection,.CodeMirror-line>span>span::selection {
        background:var(--bs-secondary-bg)
    }
    
    .CodeMirror-line::-moz-selection,.CodeMirror-line>span::-moz-selection,.CodeMirror-line>span>span::-moz-selection {
        background:var(--bs-secondary-bg)
    }
    
    .EasyMDEContainer .CodeMirror-focused .CodeMirror-selected {
        background: var(--bs-secondary-bg)
    }
}
