<input type="search" id="search" class="light-table-filter" data-table="table" placeholder="Szukaj...">
<div>
	<select class="selectpicker ddlFilterTableRow mb-3 mr-sm-2 categories" data-attribute="category" multiple="multiple" title="Wybierz kategorię..." data-style="btn-outline-primary" data-actions-box="true" data-selected-text-format="count">
		<option value="bezpieczeństwo" data-icon="icon-dropdown security-icon">Bezpieczeństwo</option>
		<option value="reklamy" data-icon="icon-dropdown ads-icon">Reklamy</option>
		<option value="anty-adblock" data-icon="icon-dropdown adblockDetect-icon">Anty-Adblock</option>
		<option value="społecznościowe" data-icon="icon-dropdown socialCategory-icon">Społecznościowe</option>
		<option value="ciasteczka" data-icon="icon-dropdown sweetCategory-icon">Komunikaty dot. ciasteczek/RODO</option>
		<option value="irytujące" data-icon="icon-dropdown annoyance-icon">Elementy irytujące</option>
		<option value="RSS" data-icon="icon-dropdown rss-icon">RSS</option>
		<option value="sponsorowane" data-icon="icon-dropdown sponsor-icon">Sponsorowane</option>
		<option value="e-handel" data-icon="icon-dropdown ecommerce-icon">E-handel</option>
	</select>
	<select class="selectpicker ddlFilterTableRow mb-3 origin" data-attribute="lang" multiple="multiple" title="Wybierz pochodzenie..." data-style="btn-outline-primary" data-actions-box="true" data-container="body">
		<option value="pl">Polskie</option>
		<option value="zagraniczne">Zagraniczne</option>
	</select>
	<select class="selectpicker ddlFilterTableRow mb-3 adblocker" data-attribute="adblocker" multiple="multiple" title="Wybierz adblockera..." data-style="btn-outline-primary" data-max-options="1">
		<option value="AB" data-icon="icon-dropdown AB-icon">AdBlock</option>
		<option value="ABP" data-icon="icon-dropdown ABP-icon">Adblock Plus</option>
		<option value="uBO" data-icon="icon-dropdown uBO-icon">uBlock Origin</option>
		<option value="NA" data-icon="icon-dropdown NA-icon">Nano Adblocker</option>
		<option value="AG" data-icon="icon-dropdown AG-icon">AdGuard</option>
	</select>
</div>

<table class="responsive table table-sm table-striped table-bordered table-white sortable-theme" data-sortable>
	<thead>
		<tr>
			<th scope="col" class="text-center font-weight-bold" >LISTA</th>
			<th scope="col" class="text-center font-weight-bold" >ELEMENTY</th>
			<th scope="col" class="text-center font-weight-bold" data-sortable="false">LINKI</th>
			<th scope="col" class="text-center font-weight-bold" data-sortable="false">WYMAGANE</th>
			<th scope="col" class="text-center font-weight-bold" data-sortable="false">ZGODNOŚĆ</th>
		</tr>
	</thead>
	<tbody>
		{{ range $.Site.Data.FilterLists.items }}
		<tr class="Row" data-category="{{.category}}" data-lang="{{ if .lang }} {{.lang}} {{else}}zagraniczne{{end}}" data-adblocker="{{ .adblocker }}">
			<td class="align-middle" data-label="LISTA"><span>{{.title}}</span></td>
			<td class="align-middle" data-label="ELEMENTY"><span>{{.desc}}</span></td>
			<td class="align-middle" data-label="LINKI">
				<span>
					<div class="btn-group-vertical">
						<a class="btn btn-primary mb-2r" href="{{.subscribeType}}:subscribe?location={{.subscribe}}&amp;title={{.title}}">Subskrybuj</a>

						<a class="btn btn-info mb-2r" href="{{.subscribe}}" target="_blank" rel="noopener">Podgląd</a>

						{{if .uBO_supp}}<a class="btn btn-info mb-2r" href="{{.uBO_supp}}" target="_blank" rel="noopener" title="Podgląd uzupełnienia dla uBO">Podgląd uBO</a>{{end}}

						{{if .AG_supp}}<a class="btn btn-info mb-2r" href="{{.AG_supp}}" target="_blank" rel="noopener" title="Podgląd uzupełnienia dla AdGuarda">Podgląd AG</a>{{end}}

						{{if .supp}}<a class="btn btn-info mb-2r" href="{{.supp}}" target="_blank" rel="noopener" title="Podgląd uzupełnienia dla uBO i AdGuarda">Podgląd uzup.</a>{{end}}

						{{if .modules}}<a class="btn btn-modules mb-2r" href="{{.modules}}" target="_blank" rel="noopener">Moduły</a>{{end}}

						{{if .issues}}<a class="btn btn-danger mb-2r" href="{{.issues}}" target="_blank" rel="noopener">Zgłoś problem</a>{{end}}

						{{if .form}}<a class="btn btn-danger mb-2r" href="{{.form}}" target="_blank" rel="noopener">Formularz</a>{{end}}

						{{if .chat}}<a class="btn btn-danger mb-2r" href="" data-secret="{{.chat | base64Encode}}" onmouseover="this.href = atob(this.dataset.secret);" target="_blank" rel="noopener">Poczatujmy</a>{{end}}

						{{if .mail}}<a class="btn btn-danger mb-2r" data-secret="{{.mail | base64Encode}}" href="" onmouseover="this.href = 'mailto:' + atob(this.dataset.secret);">Wyślij maila</a>{{end}}

						{{if .donate}}<a class="btn btn-success mb-2r" href="{{.donate}}" target="_blank" rel="noopener">Przekaż datek</a>{{end}}

						{{if .home}}<a class="btn btn-secondary mb-2r" href="{{.home}}" target="_blank" rel="noopener">Strona główna</a>{{ end }}
					</div>
				</span>
				<span style="display: none;">
					{{.subscribe}}
				</span>
			</td>
			<td class="align-middle" data-label="WYMAGANE">
				<span>
					<div class="btn-group-vertical">
						{{if ne .requiredType "normal"}}
						{{if .requiredTitle}}<a class="btn btn-outline-primary mb-2r" href="{{.requiredType}}:subscribe?location={{.requiredLocation}}&amp;title={{.requiredTitle}}">{{.requiredTitle}}</a>{{end}}
						{{else}}
						{{if .requiredTitle}}<a class="btn btn-outline-primary mb-2r" href="{{.requiredLocation}}" target="_blank" rel="noopener">{{.requiredTitle}}</a>{{end}}
						{{end}}

						{{if ne .requiredType2 "normal"}}
						{{if .requiredTitle2}}<a class="btn btn-outline-primary mb-2r" href="{{.requiredType2}}:subscribe?location={{.requiredLocation2}}&amp;title={{.requiredTitle2}}">{{.requiredTitle2}}</a>{{end}}
						{{else}}
						{{if .requiredTitle2}}<a class="btn btn-outline-primary mb-2r" href="{{.requiredLocation2}}" target="_blank" rel="noopener">{{.requiredTitle2}}</a>{{end}}
						{{end}}

						{{if ne .requiredType3 "normal"}}
						{{if .requiredTitle3}}<a class="btn btn-outline-primary mb-2r" href="{{.requiredType3}}:subscribe?location={{.requiredLocation3}}&amp;title={{.requiredTitle3}}">{{.requiredTitle3}}</a>{{end}}
						{{else}}
						{{if .requiredTitle3}}<a class="btn btn-outline-primary mb-2r" href="{{.requiredLocation3}}" target="_blank" rel="noopener">{{.requiredTitle3}}</a>{{end}}
						{{end}}

						{{if ne .requiredType4 "normal"}}
						{{if .requiredTitle4}}<a class="btn btn-outline-primary mb-2r" href="{{.requiredType4}}:subscribe?location={{.requiredLocation4}}&amp;title={{.requiredTitle4}}">{{.requiredTitle4}}</a>{{end}}
						{{else}}
						{{if .requiredTitle4}}<a class="btn btn-outline-primary mb-2r" href="{{.requiredLocation4}}" target="_blank" rel="noopener">{{.requiredTitle4}}</a>{{end}}
						{{end}}

						{{if (not .requiredType) (not .requiredType2) (not .requiredType3) (not .requiredType4)}}
						-
						{{end}}
					</div>
				</span>
			</td>
			<td class="align-middle" data-label="ZGODNOŚĆ">
				<span>
					{{ if findRE "AB" .adblocker }}
					<img src="/images/AdBlock_32.png" style="width:32px;height:32px">
					{{end}}

					{{ if findRE "ABP" .adblocker }}
					<img src="/images/ABP_32.png" style="width:32px;height:32px">
					{{end}}

					{{ if findRE "uBO" .adblocker }}
					<img src="/images/uBO_32.png" style="width:32px;height:32px">
					{{end}}

					{{ if findRE "NA" .adblocker }}
					<img src="/images/Nano_32.png" style="width:32px;height:32px">
					{{end}}

					{{ if findRE "AG" .adblocker }}
					<img src="/images/AdGuard_logo_32.png" style="width:32px;height:32px">
					{{end}}
				</span>
			</td>
		</tr>
		{{end}}
	</tbody>
</table>

<script defer src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
{{ $bootstrapBundle := resources.Get "js/bootstrap.bundle.min.js" }}
{{ $selectFilter := resources.Get "js/multipleSelectFilter.js" }}
{{ $select := resources.Get "js/bootstrap-select.min.js" }}
{{ $selectPolish := resources.Get "js/bootstrap-select-translations/defaults-pl_PL.min.js" }}
{{ $filterSearch := resources.Get "js/light-table-filter.min.js" }}
{{ $sort := resources.Get "js/sortable.min.js" }}
{{ $theme := resources.Get "js/setTheme.js" }}
{{ $js := slice $theme $bootstrapBundle $selectFilter $select $selectPolish $filterSearch $sort | resources.Concat "js/table_bundle.js" | minify | fingerprint }}
<script defer src="{{ $js.Permalink }}" integrity="{{ $js.Data.Integrity }}"></script>
