<div class="inner">
    <a href="{{ "/" | absURL }}">
        <h1>{{ .Site.Title }}</h1>
    </a>
    <br/>
    <h2>{{ .Site.Params.Description }}</h2>
    <a href="https://github.com/{{ .Site.Params.gh_repo_owner }}/{{ .Site.Params.gh_repo_name }}" class="button btn-primary"><small>Śledź filtry na</small> GitHubie</a>
    <br/>
    <a href="abp:subscribe?location=https%3A%2F%2Fraw.githubusercontent.com%2FPolishFiltersTeam%2FPolishAnnoyanceFilters%2Fmaster%2FPPB.txt&amp;title=Polish%20Annoyance%20Filters" class="button-subscribe btn-primary"><small>Subskrybuj</small> filtry</a>
</div>
