<div class="inner">
    <a href="{{ "/" | absLangURL }}">
        <h1>{{ .Site.Title }}</h1>
    </a>
    <br/>
    <h2>{{ .Site.Params.Description }}</h2>
    <a href="https://github.com/{{ .Site.Params.gh_repo_owner }}/{{ .Site.Params.gh_repo_name }}" class="button btn-primary" target="_blank" rel="noopener"><small  class="clearfix">{{i18n "followFiltersOn"}}</small> {{i18n "onGitHub"}}</a>
    <br/>
    <div class="dropdown" id="languageSelector">
        {{ $langPage := cond (gt (len .Translations) 0) . .Site.Home }}
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ $langCode := $.Lang }}
            {{ if eq $langCode "en" }}
            {{ $langCode = "gb" }}
            {{ end }}
            <span class="flag-icon flag-icon-{{ $langCode }}"></span>
            {{ $langPage.Language.LanguageName }}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          {{ range $langPage.Translations }}
          {{ $langCode := .Language.Lang }}
          {{ if eq $langCode "en" }}
          {{ $langCode = "gb" }}
          {{ end }}
          <a class="dropdown-item" href="{{ .RelPermalink }}">
            <span class="flag-icon flag-icon-{{ $langCode }}"></span>
            {{ .Language.LanguageName }}
          </a>
          {{ end }}
        </div>
    </div>
    <a href="abp:subscribe?location=https%3A%2F%2Fraw.githubusercontent.com%2FFiltersHeroes%2FPolishAnnoyanceFilters%2Fmaster%2FPPB.txt&amp;title=Polish%20Annoyance%20Filters" class="button-subscribe-filters btn-primary"><small class="clearfix">{{ with i18n "subscribeFilters" }}{{ index (split . " ") 0 | safeHTML }}{{ end }}</small> {{ with i18n "subscribeFilters" }}{{ after (len (index (split . " ") 0)) . | safeHTML }}{{ end }}</a>
</div>
