<meta charset='utf-8'>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{{ if eq .Site.Params.use_sass true }}
{{ $style := resources.Get "sass/style.scss" | toCSS | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink | relURL }}" media="print" onload="this.media='all'; this.onload=null;">
{{ else }}
{{ $style := resources.Get "css/style.css" | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink |relURL }}" media="print" onload="this.media='all'; this.onload=null;">
{{ end }}
