<div class="inner">
    <a href="{{ "/" | absURL }}">
        <h1>{{ .Site.Title }}</h1>
    </a>
    <br/>
    <h2>{{ .Site.Params.Description }}</h2>
    <a href="https://github.com/{{ .Site.Params.gh_repo_owner }}/{{ .Site.Params.gh_repo_name }}" class="button btn-primary" target="_blank" rel="noopener"><small  class="clearfix">Śledź filtry na</small> GitHubie</a>
    <br/>
    <a href="abp:subscribe?location=https%3A%2F%2Fraw.githubusercontent.com%2FFiltersHeroes%2FPolishAnnoyanceFilters%2Fmaster%2FPPB.txt&amp;title=Polish%20Annoyance%20Filters" class="button-subscribe-filters btn-primary"><small class="clearfix">Subskrybuj</small> filtry</a>
</div>
