<table class="responsive table table-sm table-striped table-bordered table-white">
	<thead>
		<tr>
			<th scope="col" class="text-center font-weight-bold">MODUŁ</th>
			<th scope="col" class="text-center font-weight-bold">SUBSKRYBUJ</th>
			<th scope="col" class="text-center font-weight-bold">PODGLĄD</th>
			<th scope="col" class="text-center font-weight-bold">ZGODNOŚĆ</th>
		</tr>
	</thead>
	<tbody>
		{{ range $.Site.Data.Modules.items }}
		<tr>
			<td class="align-middle" data-label="MODUŁ"><span>{{.title}}</span></td>
			<td class="align-middle" data-label="SUBSKRYBUJ">
				<span>
					<a class="btn btn-primary mb-2r" href="{{ if findRE "AB|ABP|AG" .adblocker }}abp{{ else if findRE "uBO|NA" .adblocker }}ubo{{end}}:subscribe?location={{.subscribe}}&amp;title=PFEI - {{.title}}">Subskrybuj</a>
				</span>
			</td>
			<td class="align-middle" data-label="PODGLĄD">
				<span>
					<a class="btn btn-info mb-2r" href="{{.subscribe}}" target="_blank" rel="noopener">Podgląd</a>
				</span>
			</td>
			<td class="align-middle" data-label="ZGODNOŚĆ">
				<span>
					{{ if findRE "ABP" .adblocker }}
					<a href="https://getadblock.com/" target="_blank" rel="noopener"><img src="/images/AdBlock.svg" style="width:32px;height:32px" title="AdBlock"></a>
					<a href="https://adblockplus.org/" target="_blank" rel="noopener"><img src="/images/ABP_32.png" style="width:32px;height:32px" title="Adblock Plus"></a>
					<a href="https://github.com/gorhill/uBlock" target="_blank" rel="noopener"><img src="/images/uBO_32.png" style="width:32px;height:32px" title="uBlock Origin"></a>
					<a href="https://github.com/NanoAdblocker/NanoCore" target="_blank" rel="noopener"><img src="/images/Nano_32.png" style="width:32px;height:32px" title="Nano Adblocker"></a>
					<a href="https://adguard.com/" target="_blank" rel="noopener"><img src="/images/AdGuard_logo_32.png" style="width:32px;height:32px" title="AdGuard"></a>
					{{end}}

					{{ if (findRE "uBO" .adblocker) and not (findRE "ABP" .adblocker) and not (findRE "NA" .adblocker) }}
					<a href="https://github.com/gorhill/uBlock" target="_blank" rel="noopener"><img src="/images/uBO_32.png" style="width:32px;height:32px" title="uBlock Origin"></a>
					<a href="https://github.com/NanoAdblocker/NanoCore" target="_blank" rel="noopener"><img src="/images/Nano_32.png" style="width:32px;height:32px" title="Nano Adblocker"></a>
					{{end}}

					{{ if (findRE "NA" .adblocker) and not (findRE "ABP" .adblocker) }}
					<a href="https://github.com/NanoAdblocker/NanoCore" target="_blank" rel="noopener"><img src="/images/Nano_32.png" style="width:32px;height:32px" title="Nano Adblocker"></a>
					{{end}}

					{{ if (findRE "AG" .adblocker) and not (findRE "ABP" .adblocker) }}
					<a href="https://adguard.com/" target="_blank" rel="noopener"><img src="/images/AdGuard_logo_32.png" style="width:32px;height:32px" title="AdGuard"></a>
					{{end}}
				</span>
			</td>
		</tr>
		{{end}}
	</tbody>
</table>

{{ $theme := resources.Get "js/setTheme.js" | minify | fingerprint }}
<script defer src="{{ $theme.Permalink | relURL }}" integrity="{{ $theme.Data.Integrity }}"></script>
