<div class="btn-group-vertical">
{{if .Get "abp-location"}}
<a class="btn btn-primary mb-2r" href="abp:subscribe?location={{.Get "abp-location" }}&amp;title={{.Get "title"}}">Subskrybuj</a>
{{end}}

{{if .Get "ubo-location"}}
<a class="btn btn-primary mb-2r" href="ubo:subscribe?location={{.Get "ubo-location" }}&amp;title={{.Get "title"}}">Subskrybuj</a>
{{end}}


<a class="btn btn-info mb-2r" {{if .Get "abp-location"}}href="{{.Get "abp-location"}}"{{else}}href="{{.Get "ubo-location"}}"{{end}} target="_blank" rel="noopener">Podgląd</a>

{{if .Get "issues"}}
<a class="btn btn-danger mb-2r" href="{{.Get "issues"}}" target="_blank" rel="noopener">Zgłoś problem</a>
{{end}}

{{if .Get "chat"}}
<a class="btn btn-danger mb-2r" href="{{.Get "chat"}}" target="_blank" rel="noopener">Poczatujmy</a>
{{end}}

{{if .Get "form"}}
<a class="btn btn-danger mb-2r" href="{{.Get "form"}}" target="_blank" rel="noopener">Formularz</a>
{{end}}

{{if .Get "mail"}}
<a class="btn btn-danger mb-2r" href="mailto:xxx{{.Get "mail" }}xxx" onmouseover="this.href=this.href.replace(/x/g,'');this.href=this.href.replace(/_at_/g,'@');this.href=this.href.replace(/_dot_/g,'.');">Wyślij maila</a>
{{end}}

{{if .Get "donate"}}
<a class="btn btn-success mb-2r" href="{{.Get "donate"}}" target="_blank" rel="noopener">Przekaż datek</a>
{{end}}

{{if .Get "home"}}
<a class="btn btn-secondary mb-2r" href="{{.Get "home"}}" target="_blank" rel="noopener">Strona główna</a>
{{end}}

</div>
