{{ $jquery := resources.Get "/js/jquery.js" }}
{{ $valid := resources.Get "/js/jquery.validate.min.js" }}
{{ $validpl := resources.Get "/js/jquery-validation-translations/messages_pl.min.js" }}
{{ $sweets := resources.Get "/js/sweet-surprise.js" }}
{{ $steps := resources.Get "/js/steps.js" }}
{{ $checkbox := resources.Get "/js/checkbox.js" }}
{{ $easymde := resources.Get "/js/easymde.min.js" }}
{{ $ready := resources.Get "/js/ready.js" }}
{{ $browserOSDetect := resources.Get "/js/browserOSDetect.js" }}
{{ $privateMode := resources.Get "js/is-private-mode.js" }}
{{ $js := slice $jquery $valid $validpl $sweets $steps $checkbox $easymde $ready $browserOSDetect $privateMode | resources.Concat "/js/issues_bundle.js" | minify | fingerprint}}
<script defer src="{{ $js.Permalink | relURL }}" integrity="{{ $js.Data.Integrity }}"></script>
