<table class="responsive table table-sm table-striped table-bordered">
	<thead>
		<tr>
			<th scope="col" class="text-center font-weight-bold">MODUŁ</th>
			<th scope="col" class="text-center font-weight-bold">LINKI</th>
			<th scope="col" class="text-center font-weight-bold">LINKI ALTERNATYWNE</th>
			<th scope="col" class="text-center font-weight-bold">ZGODNOŚĆ</th>
		</tr>
	</thead>
	<tbody>
		{{ range $.Site.Data.Modules.items }}
		<tr>
			{{ $btnHref := printf "abp:subscribe?location=%s&title=PFEI - %s" .subscribe .title }}
			<td class="align-middle text-center" data-label="MODUŁ"><span>{{.title}}</span></td>
			<td class="align-middle text-center" data-label="LINKI">
				<div class="span">
					<div class="btn-group-vertical">
						{{ partial "assets/button.html" (dict "justify" "center" "spacing" "false" "color" "primary" "icon" "fas file-import" "title" "Subskrybuj" "order" "first" "href" ($btnHref | safeURL) ) }}
						{{ partial "assets/button.html" (dict "justify" "center" "spacing" "false" "color" "info" "outline" "true" "icon" "fas eye" "title" "Podgląd" "order" "first" "href" (.subscribe | safeURL) ) }}
					</div>
				</div>
			</td>
			<td class="align-middle text-center" data-label="LINKI ALTERNATYWNE">
				<div class="btn-group-vertical">
					<div class="btn-group">
						{{ $firstMirror := printf "%s"
						(.subscribe
						| replaceRE "^https?://raw.githubusercontent.com" "https://cdn.jsdelivr.net/gh"
						| replaceRE "/master/" "@master/"
						| replaceRE "/main/" "@main/"
						)
						}}
						{{ $btnOneHref := printf "abp:subscribe?location=%s&title=%s"
						($firstMirror)
						(.title)
						}}
						{{ $secondMirror := printf "%s"
						(.subscribe
						| replaceRE "^https?://raw.githubusercontent.com" "https://cdn.statically.io/gh"
						)
						}}
						{{ $btnSecondHref := printf "abp:subscribe?location=%s&title=%s"
						($secondMirror)
						(.title)
						}}
						{{ $thirdMirror := printf "%s"
						(.subscribe
						| replaceRE "^https?://raw.githubusercontent.com" "https://filtersheroes.gitlab.io/AssetsMirror"
						| replaceRE "FiltersHeroes/PolishAnnoyanceFilters/master" ""
						)
						}}
						{{ $btnThirdHref := printf "abp:subscribe?location=%s&title=%s"
						($thirdMirror)
						(.title)
						}}
						{{ partial "assets/button.html" (dict "class" "dropdown-toggle" "justify" "center" "spacing" "false" "color"
						"primary" "icon" "fas file-import" "title" "Subskrybuj" "order" "first" "dropdown" true ) }}
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="{{$btnOneHref | safeURL}}">jsDelivr</a></li>
							<li><a class="dropdown-item" href="{{$btnSecondHref | safeURL}}">Statically</a></li>
							<li><a class="dropdown-item" href="{{$btnThirdHref | safeURL}}">GitLab</a></li>
						</ul>
					</div>
					<div class="btn-group">
						{{ partial "assets/button.html" (dict "class" "dropdown-toggle" "justify" "center" "spacing" "false" "color"
						"info" "outline" "true" "icon" "fas eye" "title" "Podgląd" "order" "first" "dropdown" true ) }}
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="{{$firstMirror | safeURL}}">jsDelivr</a></li>
							<li><a class="dropdown-item" href="{{$secondMirror | safeURL}}">Statically</a></li>
							<li><a class="dropdown-item" href="{{$thirdMirror | safeURL}}">GitLab</a></li>
						</ul>
					</div>
				</div>
			</td>

			<td class="align-middle text-center" data-label="ZGODNOŚĆ">
				<span>
					{{ if findRE "ABP" .adblocker }}
					<a href="https://getadblock.com/" target="_blank" rel="noopener"><img src="/images/AdBlock.svg" style="width:32px;height:32px" title="AdBlock"></a>
					<a href="https://adblockplus.org/" target="_blank" rel="noopener"><img src="/images/ABP_32.png" style="width:32px;height:32px" title="Adblock Plus"></a>
					<a href="https://github.com/gorhill/uBlock" target="_blank" rel="noopener"><img src="/images/uBO_32.png" style="width:32px;height:32px" title="uBlock Origin"></a>
					<a href="https://adguard.com/" target="_blank" rel="noopener"><img src="/images/AdGuard_logo_32.png" style="width:32px;height:32px" title="AdGuard"></a>
					{{end}}

					{{ if and (findRE "uBO" .adblocker) (not (findRE "ABP" .adblocker)) }}
					<a href="https://github.com/gorhill/uBlock" target="_blank" rel="noopener"><img src="/images/uBO_32.png" style="width:32px;height:32px" title="uBlock Origin"></a>
					{{end}}

					{{ if and (findRE "AG" .adblocker) (not (findRE "ABP" .adblocker)) }}
					<a href="https://adguard.com/" target="_blank" rel="noopener"><img src="/images/AdGuard_logo_32.png" style="width:32px;height:32px" title="AdGuard"></a>
					{{end}}
				</span>
			</td>
		</tr>
		{{end}}
	</tbody>
</table> 
