<table class="PCCkeyboard responsive table table-sm table-striped table-bordered table-white">
	<thead>
		<tr>
			<th scope="col" class="text-center font-weight-bold">PC</th>
			<th scope="col" class="text-center font-weight-bold">Mac</th>
			<th scope="col" class="text-center font-weight-bold">{{ i18n "function" }}</th>
		</tr>
	</thead>
	<tbody>
        {{ $type := printf "PCCshortcuts_%s" .Site.Home.Lang }}
        {{ range (index $.Site.Data $type).items }}
		<tr>
			<td class="align-middle" data-label="PC">
				<span class="key">
					{{ $PCkeys := split .PC "-" }}
					{{ range $index, $key := $PCkeys }}
					<kbd class="kbc-button">{{ $key }}</kbd>{{ if lt (add $index 1) (len $PCkeys) }}-{{ end }}
					{{ end }}
				</span>
			</td>
			<td class="align-middle" data-label="Mac">
				<span class="key">
					{{ $Mackeys := split .Mac "-" }}
					{{ range $index, $key := $Mackeys }}
					<kbd class="kbc-button">{{ $key }}</kbd>{{ if lt (add $index 1) (len $Mackeys) }}-{{ end }}
					{{ end }}
				</span>
			</td>
			<td class="align-middle" data-label='{{ i18n "function" }}'><span>{{.function | markdownify }}</span></td>
		</tr>
		{{end}}
	</tbody>
</table>
