<table class="PCCkeyboard responsive table table-sm table-striped table-bordered table-white">
	<thead>
		<tr>
			<th scope="col" class="text-center font-weight-bold">PC</th>
			<th scope="col" class="text-center font-weight-bold">Mac</th>
			<th scope="col" class="text-center font-weight-bold">{{ i18n "function" }}</th>
		</tr>
	</thead>
	<tbody>
        {{ $type := printf "PCCshortcuts_%s" .Site.Home.Lang }}
        {{ range (index $.Site.Data $type).items }}
		<tr>
			<td class="align-middle" data-label="PC">
				<span class="key">
					{{ if in .PC "-"}}
					<kbd class="kbc-button">{{ index (split .PC "-") 0}}</kbd>
					-
					<kbd class="kbc-button">{{ index (split .PC "-") 1}}</kbd>
					{{ else }}
					<kbd class="kbc-button">{{.PC}}</kbd>
					{{ end }}
				</span>
			</td>
			<td class="align-middle" data-label="Mac">
				<span class="key">
					{{ if in .Mac "-"}}
					<kbd class="kbc-button">{{ index (split .Mac "-") 0}}</kbd>
					-
					<kbd class="kbc-button">{{ index (split .Mac "-") 1}}</kbd>
					{{ else }}
					<kbd class="kbc-button">{{.Mac}}</kbd>
					{{ end }}
				</span>
			</td>
			<td class="align-middle" data-label="Funkcja"><span>{{.function | markdownify }}</span></td>
		</tr>
		{{end}}
	</tbody>
</table>
